.MainArea {
  display: flex;
  padding: space-between;
}
.Sidebar {
  display: flex;
  width: 17%;
  height: 1rem;
  background-color: red;
}
.Sidebar > div {
}
.Home {
  border-bottom: 1px black solid;
}
.QuicK_Icon {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 10px;
}
.QuicK_Icon > div {
  padding: 0 12px;
}

/*Main Place setter*/

.Main {
  display: flex;
  justify-content: flex-start;
  background-color: turquoise;
  width: 83%;
  height: 60rem;
}
